//Primary Colors
$primaryDark: #13182C;
$primaryMedium: #2E66E5;
$primaryLight: #FFFFFF;
// Secondary Colors
$secondraryDark: #5C667E;
$secondaryLight: #BDC5D5;
// Background Colors
$backgroundDark: #232940;
$backgroundLight: #F7F8F9;
// Supporting Colors
$inStock: #158463;
$outOfStock: #C94515;