@use "../../styles/partials/colors" as cl;
@use "../../styles/partials/fonts";
@use "../../styles/partials/breakpoints" as bk;
@use "../../styles/partials/global";



.warehouselist {
  background: #13182c;
  opacity: 0.9;
}

.warehouseDelete {
  position: absolute;
  padding: 1rem;
  width: 23.5rem;
  height: 41.6rem;
  top: 34%;
  left: 12%;
  background-color: white;
  display: none;
  z-index: 999;

  &__icon {
    display: flex;
    flex-direction: column;
    &-wrapper {
      display: flex;
      justify-content: right;
    }
  }
  &__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
  &__text {
    font-size: 0.95rem;
    line-height: 1.625rem;

    &-wrapper {
      padding: 2rem 0;
    }
  }
  &__btn {
    width: 163px;
    height: 36px;
    border-radius: 20px;

    &-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 25rem;
    }
    &--cancel {
      background-color: cl.$primaryLight;
      border: 1px solid cl.$secondaryLight;
      color: cl.$secondraryDark;
      font-weight: 600;
    }
    &--delete {
      background: cl.$outOfStock;
      border: 1px solid cl.$outOfStock;
      color: cl.$primaryLight;
      font-weight: 600;
    }
  }
}

@include bk.medium {
  .warehouseDelete {
    width: 42rem;
    height: 16.375rem;
    &__title {
      padding: 0 3rem;
    }
    &__text {
      font-size: 1rem;
      padding: 0 3rem;
    }
    &__btn {
      width: 72px;
      height: 32px;
      margin-right: 1rem;
      &-wrapper {
        padding-top: 0;
        justify-content: right;
        margin-right: 2rem;
      }
    }
  }
}
@include bk.large {
  .warehouseDelete {
    width: 42rem;
    height: 16.375rem;
    &__title {
      padding: 0 3rem;
    }
    &__text {
      font-size: 1rem;
      padding: 0 3rem;
    }
    &__btn {
      width: 72px;
      height: 32px;
      margin-right: 1rem;
      &-wrapper {
        padding-top: 0;
        justify-content: right;
        margin-right: 2rem;
      }
    }
  }
}
