@use "../../styles/partials/colors" as colors;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/fonts";

.footer {
  text-align: center;
  display: flex;
  margin-top: 100vh;
  justify-content: center;
  width: 90vh;
  &-wrap {
    display: flex;
    justify-content: center;
  }
}
